body {
    background-color: whitesmoke;
}

body.main {
    background-color: #0d6efd;
    background-image: url(images/classroom2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.content {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
    color: #0d6efd;
    break-after: always;
    margin-bottom: 50px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: large;
    color: black;
    break-after: always;
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
}

h1.main {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 600%;
    color: #0d6efd;
    text-shadow: -1px 1px 0 #000,
                 1px 1px 0 #000,
                 1px -1px 0 #000,
                 -1px -1px 0 #000;
    break-after: always;
    text-align: center;
}

p.main {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    color: white;
    text-shadow: -1px 1px 0 #000,
                 1px 1px 0 #000,
                 1px -1px 0 #000,
                 -1px -1px 0 #000;
    break-after: always;
    text-align: center;
    margin-left: 0px;
}

div.main {
    margin-top: 15%;
    align-items: center;
    justify-content: center;
}

.background {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

footer {
    background-color: #0d6efd;
}

button.video-dropdown {
    border-radius: 10px;
	display: inline-block;
	cursor: pointer;
    font-size: 28px;
	padding: 5px 20px;
	text-decoration: none;
    margin-right: 20px;
    margin-bottom: 20px;
}

iframe.video {
    height: 720px;
    width: 1280px;
}

@media screen and (max-width: 800px) {
    h1.main {
        font-size: 400%;
    }

    iframe.video {
        height: 180px;
        width: 320px;
    }

    .content {
        margin-top: 40px;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .video-section {
        align-items: center;
        justify-content: center;
    }
  }