body {
    background-color: whitesmoke;
}

.content {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: xx-large;
    color: #0d6efd;
    break-after: always;
    margin-bottom: 20px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: large;
    color: black;
    break-after: always;
    margin-left: 20px;
    margin-bottom: 20px;
}

h1.main {
    padding-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 400%;
    color: #0d6efd;
    break-after: always;
    text-align: center;
}

p.main {
    padding-bottom: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    color: black;
    break-after: always;
    text-align: center;
    margin-left: 0px;
}

div.main {
    align-items: center;
    justify-content: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

footer {
    background-color: #0d6efd;
}

@media screen and (max-width: 800px) {
    .center {
      width: 100%;
    }
  }